## Data Analysis I

Lastly, we will answer the following questions using pandas methods: 

* What are the most popular colors by season?
* What is the most popular clothing item by season?
* What is the effect of promo-codes on the dollar-amount of purchases?
* When do users leave a review?
* Do states vary in the items they purchase in the Fall?

Utilize the documentation provided in each code-block. When you are done with this section of the project, validate that your output matches the screenshot provided in the `docs/part3.md` file and answer the questions located underneath `Data Analysis II` in your own words.

In [27]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

In [28]:
# TODO: load `data/processed/shopping_cleaned.csv` as a pandas dataframe

df= pd.read_csv("../data/processed/shopping_cleaned.csv")
df.shape

(3158, 13)

In [29]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Color" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

table = pd.pivot_table(df, values='Location', index=['Color'],
                       columns=['Season'], aggfunc=(len))

In [30]:
# TODO: Display this pivot table

table

Season                Fall  Spring  Summer  Winter
Color
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Black                   84       5       9     124
Brick red               88       7      12     110
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Fuchsia                  3      45      78      18
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Mauve                   86       5       7      95
Muted mustard yellow    84       8      13      87
Pale peach               9      52      81      15
Periwinkle               9      54      82       8
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Turquoise                7      49      74      16
White                   10      63      81      11

In [31]:
# TODO: Select the "Fall" column from this pivot table and display the sort order in descending order
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html

table.sort_values(by=['Fall'], ascending=False)

Season                Fall  Spring  Summer  Winter
Color
Brown                   97       5       3      89
Burnt orange            93       4       5     112
Terra cotta             91       4      15     101
Ruby Red                90       3       8     107
Brick red               88       7      12     110
Mauve                   86       5       7      95
Black                   84       5       9     124
Muted mustard yellow    84       8      13      87
Aubergine               83       2      13     111
Baby blue               16      69      84      21
Lavender                13      55     102       6
White                   10      63      81      11
Periwinkle               9      54      82       8
Pale peach               9      52      81      15
Lemon yellow             9      47      98      13
Turquoise                7      49      74      16
Fuchsia                  3      45      78      18

In [32]:
# TODO: Select the "Winter" column from this pivot table and display the sort order in descending order

table.sort_values(by=['Winter'], ascending=False)

Season                Fall  Spring  Summer  Winter
Color
Black                   84       5       9     124
Burnt orange            93       4       5     112
Aubergine               83       2      13     111
Brick red               88       7      12     110
Ruby Red                90       3       8     107
Terra cotta             91       4      15     101
Mauve                   86       5       7      95
Brown                   97       5       3      89
Muted mustard yellow    84       8      13      87
Baby blue               16      69      84      21
Fuchsia                  3      45      78      18
Turquoise                7      49      74      16
Pale peach               9      52      81      15
Lemon yellow             9      47      98      13
White                   10      63      81      11
Periwinkle               9      54      82       8
Lavender                13      55     102       6

In [33]:
# TODO: Select the "Spring" column from this pivot table and display the sort order in descending order

table.sort_values(by=['Spring'], ascending=False)

Season                Fall  Spring  Summer  Winter
Color
Baby blue               16      69      84      21
White                   10      63      81      11
Lavender                13      55     102       6
Periwinkle               9      54      82       8
Pale peach               9      52      81      15
Turquoise                7      49      74      16
Lemon yellow             9      47      98      13
Fuchsia                  3      45      78      18
Muted mustard yellow    84       8      13      87
Brick red               88       7      12     110
Mauve                   86       5       7      95
Brown                   97       5       3      89
Black                   84       5       9     124
Burnt orange            93       4       5     112
Terra cotta             91       4      15     101
Ruby Red                90       3       8     107
Aubergine               83       2      13     111

In [34]:
# TODO: Select the "Summer" column from this pivot table and display the sort order in descending order

table.sort_values(by=['Summer'], ascending=False)

Season                Fall  Spring  Summer  Winter
Color
Lavender                13      55     102       6
Lemon yellow             9      47      98      13
Baby blue               16      69      84      21
Periwinkle               9      54      82       8
Pale peach               9      52      81      15
White                   10      63      81      11
Fuchsia                  3      45      78      18
Turquoise                7      49      74      16
Terra cotta             91       4      15     101
Muted mustard yellow    84       8      13      87
Aubergine               83       2      13     111
Brick red               88       7      12     110
Black                   84       5       9     124
Ruby Red                90       3       8     107
Mauve                   86       5       7      95
Burnt orange            93       4       5     112
Brown                   97       5       3      89

In [54]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

table.idxmax()

Season
Fall          Brown
Spring    Baby blue
Summer     Lavender
Winter        Black
dtype: object

In [36]:
# TODO: Create a dataframe pivot table where "Season" is your column, "Item Purchased" is your index, and "Location" is your value (this value is arbitrary)
# use the len function as the "aggfunc" parameter.
# Save this pivot table to a new variable and display it

new_table = pd.pivot_table(df, values='Location', index=['Item Purchased'],
                       columns=['Season'], aggfunc=(len))

In [55]:
# TODO: Using the "idmax" method, get the index with the maximum value for each column on the pivot table containing clothing items & season
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html

new_table.idxmax()

Season
Fall           Backpack
Spring    Running Shoes
Summer           Shorts
Winter         Leggings
dtype: object

In [38]:
# TODO: Create two data-frames for promo-code users and non-promo-code users using boolean indexing
# Save these two dataframes into seperate variables 
# Documentation: https://pandas.pydata.org/docs/user_guide/indexing.html#boolean-indexing
# Hint: Users that have used a promo code have the value "Yes" in the column "Promo Code Used"


promo_code_users = df[df["Promo Code Used"] =="Yes"]
#promo_code_users

nonpromo_code_users = df[df["Promo Code Used"] =="No"]
#nonpromo_code_users

In [39]:
# TODO: Print the shape of the promo code users dataframe. This should be (1373, 13)
promo_code_users.shape

(1373, 13)

In [40]:
# TODO: Print the average purchase size of promo code users dataframe. This should be 50.06747998236351


promo_code_users['Purchase Amount (USD)'].mean()

50.06747998236351

In [41]:
# TODO: Print the shape of the non promo code users dataframe. This should be (1785, 13)

nonpromo_code_users.shape

(1785, 13)

In [42]:
# TODO: Print the average purchase size of non promo code users dataframe. This should be 30.155750765104113

nonpromo_code_users['Purchase Amount (USD)'].mean()

30.155750765104113

Formulate a null hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

The dollar amount has no affect on whether or not someone uses a promo code or not.

Formulate an alternative hypothesis regarding the dollar amount spent between promo-code users & non-promo-code users

Yes the dollar amount has an affect on whether or not a user uses a promo code or not.

In [43]:
# TODO: Using the "ttest_ind" method from "scipy.stats", run a T-Test between the dollar amount spent of promo-code users and non promo-code users
# The t-statistic you should observe is 93.2464714350831
# Documentation: https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_ind.html


stats.ttest_ind(promo_code_users["Purchase Amount (USD)"], nonpromo_code_users["Purchase Amount (USD)"])

TtestResult(statistic=93.2464714350831, pvalue=0.0, df=3156.0)

In [44]:
# TODO: Group your dataframe according to the "Review Rating" column. This should produce two groups for the values "Missing" & "Present"
# Save this grouped dataframe into a new variable named "g_review"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

g_review=df.groupby(['Review Rating'])['Purchase Amount (USD)'].mean()

g_review

Review Rating
Missing    38.923623
Present    38.615947
Name: Purchase Amount (USD), dtype: float64

In [45]:
# TODO: Print out the keys of this dataframe for validation. This should output "dict_keys(['Missing', 'Present'])"
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.keys.html

g_review.keys()

Index(['Missing', 'Present'], dtype='object', name='Review Rating')

In [46]:
# TODO: calculate the average of the "Purchase Amount (USD)", "Age", and "Previous Purchases" columns in our grouped dataframe
# output the values for display
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mean.html
# Documentation: https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html

df.groupby(['Review Rating'])[['Purchase Amount (USD)','Age','Previous Purchases']].mean()

               Purchase Amount (USD)        Age  Previous Purchases
Review Rating
Missing                    38.923623  34.080198            5.344059
Present                    38.615947  34.371705            6.778559

In [47]:
# TODO: Create a new column called "Prev Purchase Group" on your original dataframe which seperates your dataframe into 
# two groups of shoppers based on their "Previous Purchases" column using the "pd.cut" method. 
# Ensure that you are only creating 2 "bins" and label these respective bins as ["Low", "High"]
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.cut.html

df["Prev Purchase Group"]= pd.cut(df["Previous Purchases"],2,labels=["Low","High"])

df["Prev Purchase Group"]

0        Low
1        Low
2        Low
3        Low
4        Low
        ...
3153    High
3154     Low
3155    High
3156     Low
3157     Low
Name: Prev Purchase Group, Length: 3158, dtype: category
Categories (2, object): ['Low' < 'High']

In [48]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "Low" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing



df[df["Prev Purchase Group"]== "Low"]["Review Rating"].value_counts()

Review Rating
Missing    1686
Present     840
Name: count, dtype: int64

In [49]:
# TODO: Using the "value_counts" function, count how many Missing & Present values are in the "High" group
# Display this value for analysis 
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.value_counts.html
# Hint: You will have to use Boolean Indexing


df[df["Prev Purchase Group"]== "High"]["Review Rating"].value_counts()

Review Rating
Missing    334
Present    298
Name: count, dtype: int64

## Data Analysis II

In the next section, answer the primary analytical questions in your own words.

### Q1

What are the top three colors for Fall & Winter?

Brown, Black, Aubergine

### Q2

What are the top three colors for Spring & Summer?

Baby Blue, Black, Lavender

### Q3

What is the most popular clothing item by season?

Backpack

### Q4

Observing the p-value that we got when running our t-test between promo-code and non-promo-code users, what can we conclude regarding our null hypothesis?

our null hypothessis would be rejected.

### Q5

Observe the `value_counts` output for the "Review Rating" column for both your "High" and "Low" groups. Proportionally speaking, which group is more likely to leave a review? Why might this be happening from the "human"-perspective? Rationalizations are ok at this point, even if they aren't backed up by data.

The low group is most likely to leave a review because it show the most amount of purchases done under that group.